recursive-include cmbautomiser/interface *.glade
recursive-include cmbautomiser/templates *.py
recursive-include cmbautomiser/latex *.tex
recursive-include cmbautomiser/ods_templates *.xlsx
recursive-include bin *
recursive-include applications *
recursive-include pixmaps *
recursive-include cmbautomiser/documentation *.pdf
