[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CMB Automiser
Comment=CPWD billing application using computerised measurement books.
Exec=/usr/bin/cmbautomiser
Icon=/usr/share/pixmaps/cmbautomiser.png
Terminal=false
StartupNotify=true
Path=/usr/lib/python2.7/site-packages/cmbautomiser
Categories=Office;
