[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CMB Automiser 3
Comment=Computerised quantity accounting and cost billing application for use in public works organisations.
Exec=/usr/bin/cmbautomiser3
Icon=/usr/share/pixmaps/cmbautomiser3.png
Terminal=false
StartupNotify=true
Path=/usr/lib/python3.4/site-packages/cmbautomiser
Categories=Office;
